:root {
  /* default variables */
}

.light-theme {
  --backgroundColor: #ddd;
  --textColor: #333;
}

.dark-theme {
  --backgroundColor: #333;
  --textColor: #ddd;
}

html, body, .principal-container {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

.principal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--backgroundColor);
  color: var(--textColor);
  transition: all .5s ease-in-out;
}