:root {
  /* default variables */
  --headerHeight: 75px;
  --sidebarWidth: 350px;
  --bigElementTransition: all .5s ease-in-out;
  --smallElementTransition: all .3s ease-in-out;
  --primaryColor: #1b5e20;
  --primaryColorLight: #4c8c4a;
  --primaryColorDark: #003300;
  --textOnPrimaryColor: #fff;
  --secondaryColor: #76ff03;
  --secondaryColorLight: #b0ff57;
  --secondaryColorDark: #32cb00;
  --textOnSecondaryColor: #000;
  --boxShadow: 0px 0px 5px 5px rgba(0,0,0,.3);
}

* {
  box-sizing: border-box;
}

.light-theme {
  --backgroundColor: #fff;
  --backgroundSecondaryColor: #ddd;
  --decorationColor: #333;
  --textOnBackgroundColor: #000;
  --higlightColor: rgba(0,0,0,.3);
}

.dark-theme {
  --backgroundColor: #000;
  --backgroundSecondaryColor: #222;
  --decorationColor: #ddd;
  --textOnBackgroundColor: #fff;
  --higlightColor: rgba(255,255,255,.3);
}

html, body, .principal-container {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--decorationColor);
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: var(--headerHeight);
  width: 100%;
  background-color: var(--primaryColor);
  color: #fff;
  box-shadow: var(--boxShadow);
  transition: var(--bigElementTransition);
}

.avatar {
  --size: calc(var(--headerHeight) * 2/3);
  height: var(--size);
  width: var(--size);
  background-color: rgba(255,255,255,.5);
  border-radius: calc(var(--size) / 2);
}

.header-toggle-sidebar-button {
  --size: calc(var(--headerHeight) * 2/3);
  height: var(--size);
  width: var(--size);
  color: var(--decorationColor);
  font-size: calc(var(--size) * 3/4)
}

.header-toggle-sidebar-button > i {
  font-size: inherit;
  color: inherit;
}

.header-toggle-sidebar-button:focus {  
  outline: none;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--backgroundColor);
  color: var(--textOnBackgroundColor);
  height: 100%;
  width: var(--sidebarWidth);
  overflow: auto;
  top: 0;
  box-shadow: var(--boxShadow);
  transition: var(--bigElementTransition);
}

.sidebar-visible {
  right: 0;
}

.sidebar-hidden {
  right: -100%;
}

.sidebar-header {
  height: 150px;
  background-color: var(--secondaryColor);
}

.sidebar-sections {
  flex-grow: 1;
}

.sidebar-section {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid var(--decorationColor);
}

.sidebar-footer {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  padding: 5px;
}

.sidebar-button {
  --size: 40px;
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  padding: 0 5px;
}

.sidebar-button:hover {
  background-color: var(--higlightColor);
}

.sidebar-button:focus {
  outline: none;
}

.sidebar-button > label {
  margin-left: 5px;
}

.principal-container {
  padding: calc(var(--headerHeight) + 20px) 10px 10px 10px;
  overflow: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: repeat(auto-fill, 250px);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  background-color: var(--backgroundSecondaryColor);
  color: var(--textOnBackgroundColor);
  transition: var(--bigElementTransition);
}

.principal-container-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px 5px rgba(0,0,0,.3);
}

.principal-container-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.principal-container-card-header i {
  --size: 50px;
  font-size: var(--size);
  height: var(--size);
  width: var(--size);
}

.principal-container-card-footer {
  background-color: var(--backgroundColor);
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}